
git/22127028_22127200_GroupID12_Commits_Content (1).png
git/22127028_22127200_GroupID12_Commits_Content (2).png
git/22127028_22127200_GroupID12_Commits_Content (3).png
git/22127028_22127200_GroupID12_Commits_Content (4).png
git/22127028_22127200_GroupID12_Commits_Content (5).png
git/22127028_22127200_GroupID12_Commits_Contribution.png
MesEX/src/main/java/org/example/mesex/Main.java
script/run.txt
src/MesEX/.idea/encodings.xml
src/MesEX/.idea/misc.xml
src/MesEX/.idea/uiDesigner.xml
src/MesEX/.idea/vcs.xml
src/MesEX/.mvn/wrapper/maven-wrapper.jar
src/MesEX/.mvn/wrapper/maven-wrapper.properties
src/MesEX/mvnw
src/MesEX/mvnw.cmd
src/MesEX/pom.xml
src/MesEX/src/main/java/module-info.java
src/MesEX/src/main/java/org/example/mesex/ChangePasswordController.java
src/MesEX/src/main/java/org/example/mesex/ConversationController.java
src/MesEX/src/main/java/org/example/mesex/data_class/ActivityData.java
src/MesEX/src/main/java/org/example/mesex/data_class/ConversationData.java
src/MesEX/src/main/java/org/example/mesex/data_class/FriendRequestData.java
src/MesEX/src/main/java/org/example/mesex/data_class/MessageData.java
src/MesEX/src/main/java/org/example/mesex/data_class/SpamTicketData.java
src/MesEX/src/main/java/org/example/mesex/data_class/UserData.java
src/MesEX/src/main/java/org/example/mesex/EditProfileController.java
src/MesEX/src/main/java/org/example/mesex/FriendsController.java
src/MesEX/src/main/java/org/example/mesex/Main.java
src/MesEX/src/main/java/org/example/mesex/MainController.java
src/MesEX/src/main/java/org/example/mesex/MessagesManagerController.java
src/MesEX/src/main/java/org/example/mesex/MessagingController.java
src/MesEX/src/main/java/org/example/mesex/MongoManagement.java
src/MesEX/src/main/java/org/example/mesex/OtherUserProfileController.java
src/MesEX/src/main/java/org/example/mesex/PopUpController.java
src/MesEX/src/main/java/org/example/mesex/SingleGroupManagerController.java
src/MesEX/src/main/resources/org/example/mesex/change-password.fxml
src/MesEX/src/main/resources/org/example/mesex/edit-user-profile.fxml
src/MesEX/src/main/resources/org/example/mesex/main-all-chat-history-management.fxml
src/MesEX/src/main/resources/org/example/mesex/main-chat-history-management.fxml
src/MesEX/src/main/resources/org/example/mesex/main-convo-config.fxml
src/MesEX/src/main/resources/org/example/mesex/main-friend-config.fxml
src/MesEX/src/main/resources/org/example/mesex/main-login.fxml
src/MesEX/src/main/resources/org/example/mesex/main-messaging.fxml
src/MesEX/src/main/resources/org/example/mesex/main-register.fxml
src/MesEX/src/main/resources/org/example/mesex/main-single-group-manager.fxml
src/MesEX/src/main/resources/org/example/mesex/other-user-profile.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-add-member.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-add-mod.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-add.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-block.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-change-group-name.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-change-name.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-create-group.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-delete-member.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-reset-password.fxml
src/MesEX/src/main/resources/org/example/mesex/pop-up-unfriend.fxml
src/MesEX/src/main/resources/org/example/mesex/user-profile.fxml
src/MesEXAdmin/.idea/encodings.xml
src/MesEXAdmin/.idea/inspectionProfiles/Project_Default.xml
src/MesEXAdmin/.idea/misc.xml
src/MesEXAdmin/.idea/uiDesigner.xml
src/MesEXAdmin/.idea/vcs.xml
src/MesEXAdmin/.mvn/wrapper/maven-wrapper.jar
src/MesEXAdmin/.mvn/wrapper/maven-wrapper.properties
src/MesEXAdmin/mvnw
src/MesEXAdmin/mvnw.cmd
src/MesEXAdmin/pom.xml
src/MesEXAdmin/src/main/java/module-info.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/AppManagerController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/ChangePasswordController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/ConversationController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/ConversationManagerController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/data_class/ActivityData.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/data_class/ConversationData.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/data_class/FriendRequestData.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/data_class/MessageData.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/data_class/SpamTicketData.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/data_class/UserData.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/EditProfileController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/FriendsController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/Main.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/MainController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/MessagesManagerController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/MessagingController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/MongoManagement.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/PopUpController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/SingleGroupManagerController.java
src/MesEXAdmin/src/main/java/org/example/mesexadmin/UserManagerController.java
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/change-password.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/edit-user-profile.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-all-chat-history-management.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-app-manager.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-chat-history-management.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-convo-config.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-friend-config.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-group-manager.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-login.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-messaging.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-register.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-single-group-manager.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/main-user-manager.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-add-member.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-add-mod.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-add-user.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-add.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-block.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-change-group-name.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-change-name.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-create-group.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-delete-member.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-modify-user.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-reset-password.fxml
src/MesEXAdmin/src/main/resources/org/example/mesexadmin/pop-up-unfriend.fxml
*.properties